@keyframes fade {
    0% {opacity: 0};
    50% {opacity: 0};
    100% {opacity: 1;}
}

body {
    margin: 0;
    padding: 0;
}

html {
    padding: 0;
    margin: 0;
}

/* HOVER */
@keyframes hover {
    50% {
      transform: translateY(-3px);
    }
    100% {
      transform: translateY(-6px);
    }
  }
  .hover {
    position: relative;
    transition: transform 0.4s ease-in-out !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateZ(0);
  }
  .hover:hover {
    transform: translateY(-6px);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

header {
    display: flex;
    justify-content: center !important;
    align-items: center;
    background-color: #fff;
    padding: 25px;
    -webkit-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
    header h1 {
        color: rgb(87, 197, 240) !important;
        margin: 0 !important;
    }

    #header-home header .title::after, #header header .title::after {
        content: " Manager";
        color: rgb(90, 90, 90) !important;
        text-shadow: none;
    }

    #header-home header .title::before, #header header .title::before {
        content: "Screenly ";
        color: rgb(90, 90, 90) !important;
        text-shadow: none;
    }

#header-home header{
    justify-content: flex-start;
}

#header-assets header {
    justify-content: center;    
    flex-direction: column;
    color: rgb(87, 197, 240) !important;
}

#login {
    padding: 5% 15%;
    -webkit-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

    .login-text {
        display: flex !important;
        flex-direction: column !important;
        padding: 0 10% !important;
        color: rgb(87, 197, 240) !important;
    }

footer {
    display: flex;
    margin-top: auto;
    padding: 2%;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    color: rgb(122, 122, 122);
    font-size: .9em;
}

#sidemenu-section {
    padding-bottom: 0 !important;
}

#addasset-button {
    margin-right: 3%;
    margin-bottom: 10px;
    z-index: 100;
}

#adduser-button {
    margin-right: 3%;
    margin-bottom: 10px;
    z-index: 100;
}

#menubar {
    height: 100%;
    position: fixed;
    width: 60px;
    margin: 0;
    border-radius: 0;
    opacity: 1;
    transition: all 0.2s cubic-bezier(0.12, 0.27, 0.24, 1.58);
    left: 0;
    z-index: 100;
}

    #menubar.a {
        transition: all .2s ease-in-out;
    }

    #menubar a:hover {
        color: #57c5f0;
    }

.page-content {
    margin-left: 100px;
}

.addbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #57c5f0 !important;
    color: #fff !important;
    transition: all .5s cubic-bezier(0.55, -0.24, 0, 2.06) !important;
    z-index: 9999 !important;
}

.addbutton:hover {
    transform: translateY(5px);
}

.wrap-text {
    word-wrap: break-word !important;
}

.card {
    margin-right: 15px !important;
}

    .ui.basic.green.button:hover {
        background-color: #21ba45 !important;
        color: white !important;
    }

    .ui.basic.red.button:hover {
        background-color: #db2828 !important;
        color: white !important;
    }

.tip {
    width: 10%;
}

#message {
    position: absolute !important;
    z-index: 9999 !important;
    top: 0 !important;
    width: 70%;
    margin-left: 8%;
    margin-top: 0;
}

#errorlogin {
    position: absolute !important;
    z-index: 9999 !important;
    top: 5% !important;
    width: 70%;
    margin-left: 15%;
    margin-top: 0;
}

#errorpassword {
    position: absolute !important;
    z-index: 9999 !important;
    top: 0 !important;
    width: 70%;
    margin-left: 15%;
    margin-top: 0;
}

#successpassword {
    position: absolute !important;
    z-index: 9999 !important;
    top: 0 !important;
    width: 70%;
    margin-left: 15%;
    margin-top: 0;
}

#nodevices-message {
    width: 97%;
}

#nousers-message {
    width: 97%;
}

.action-group {
    display: flex;
    justify-content: center;
}

.tab {
    margin: 3%;
}

.field_margin {
    margin: 2% !important;
}

.ui.table {
    width: 97%;
}

.table-action {
    margin: 0 5px;
}

.table-action i {
    margin: 0 !important;
}

#body-home {
    animation: fade .5s linear;
    visibility: visible;
}

#body-home.auth-hidden {
    visibility: hidden;
}

#assets-table {
    margin-bottom: 30px;
}

#assets-table table.content-hidden {
    display: none;
}

#logoutButton {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#changePassButton {
    position: absolute;
    bottom: 7.4%;
    width: 100%;
}

#image-blur {
    border-radius: .3125em !important;
}