<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body id="body-home">
    <div id="sidemenu-section">
        <% include partials/menubar %>
    </div>

    <div class="page-content container">
        <section id="header-assets">
            <header class="container">
                <i id="assets-icon" class="huge icons">
                    <i class="images icon"></i>
                    <i class="corner inverted cog icon"></i>
                </i>
                <h1 class="title ui icon centered header">Assets Manager</h1>
            </header>
        </section>
        <section id="assets-table">
            <table class="ui sortable teal celled table">
                <thead>
                    <tr>
                        <th>Asset</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <img src="https://previews.123rf.com/images/naddya/naddya1406/naddya140600004/28904692-seamless-background-with-raspberry-vector-illustration.jpg" class="ui mini rounded image">
                                <div class="content">
                                    RaspBerry Default Image
                                </div>
                            </h4>
                        </td>
                        <td>Active</td>
                        <td class="center aligned">
                            <i class="delete link icon"></i>
                            <i class="edit link icon"></i>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>1 assets</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </section>
    </div>
</body>

</html>