<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/sidemenu %>
    <div class="pusher container">
        <div id="menubar" class="ui vertical icon menu">
                <a class="item">
                  <i class="gamepad icon"></i>
                </a>
                <a class="item">
                  <i class="video camera icon"></i>
                </a>
                <a class="item">
                  <i class="video play icon"></i>
                </a>
        </div>
    </div>
</body>

</html>