<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/sidemenu %>
    <div class="pusher container">
      <% include partials/menubar %>
      <section id="header-home">
          <header class="container">
              <h1 class="title ui header">OSE</h1>
          </header>
      </section>
    </div>
</body>

</html>