<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body onload="getAll()">
    <div id="sidemenu-section">
        <% include partials/menubar %>
    </div>

    <div class="page-content container">
        <section id="header-home">
            <header class="container">
                <h1 class="title ui header">OSE</h1>
            </header>
        </section>
        <section id="rasp-cards">
            <div class="ui cards">

            </div>
        </section>
        <% include partials/addbutton %>
    </div>
    <% include partials/addmodal %>
    <% include partials/editmodal %>
</body>

</html>