<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <div id="errorlogin" class="ui icon negative hidden message">
        <i class="times icon"></i>
        <div class="content">
            <div class="header">
                Error
            </div>
            <p>
                Password and/or Username invalid.
            </p>
        </div>
    </div>
    <section id="header">
        <header class="container">
            <h1 class="title ui header">OSE</h1>
        </header>
    </section>
    <section id="login">
        <div class="ui placeholder segment">
            <div class="ui two column stackable center aligned grid">
                <div class="ui vertical divider"></div>
                <div class="middle aligned row">
                    <div class="column">
                        <div class="ui icon header login-text">
                            <i class="desktop icon"></i>
                            Uma solução Open Source para gerenciamento de Screenly Raspberrys
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui icon header">
                            Faça login na ferramenta
                        </div>
                        <form action='' method='' class="ui form">
                            <div class="fields">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <input id="loginUser" name="loginUser" type="text" placeholder="Username">
                                        <i class="user icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <input id="loginPass" name="loginPass" type="password" placeholder="Password">
                                        <i class="key icon"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <button onclick="login()" class="ui primary inverted button">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="container">
        <div class="ui tiny header">Screenly OSE Manager</div>
        <p><i class="copyright outline icon"></i> DevOpsCore Indra Team</p>
    </footer>
    <script>
        let token = localStorage.getItem("user-token");
        if (token != undefined) {
            location.href = "/home"
        }
        $("#loginUser").on('keyup', function (e) {
            if (e.keyCode == 13) { // 13 é o enter
                login();
            }
        });
        $("#loginPass").on('keyup', function (e) {
            if (e.keyCode == 13) { // 13 é o enter
                login();
            }
        });
    </script>
</body>

</html>