<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body id="body-home" class="auth-hidden" onload="getUsers()">
    <div id="confirm-area">

    </div>
    <div id="sidemenu-section">
        <% include partials/menubar %>
    </div>

    <div class="page-content container">
        <section id="header-assets">
            <header class="container">
                <i id="assets-icon" class="huge icons">
                    <i class="users icon"></i>
                    <i class="corner inverted cog icon"></i>
                </i>
                <h1 class="title ui icon centered header">Users Manager</h1>
            </header>
        </section>
        <section id="users-table">
            <div id="adduser-button" class="ui labeled right floated button" tabindex="0">
                
            </div>
            <div id="nousers-message" class="ui icon error hidden message">
                <i class="times icon"></i>
                <div class="content">
                    <div class="header">
                        No Users
                    </div>
                </div>
            </div>
            <table class="ui sortable red celled table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Last Login</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="table-container">

                </tbody>
                <tfoot id="foot-container">

                </tfoot>
            </table>
        </section>
        <% include partials/addusermodal %>
        <% include partials/editusermodal %>
        <% include partials/usertag %>
    </div>
</body>

</html>