<div id="message" class="ui icon negative hidden message">
    <i class="times icon"></i>
    <div class="content">
        <div class="header">
            Error
        </div>
        <p>
            Invalid information, check the fields marked with '*'
        </p>
    </div>
</div>
<div id="errorpassword" class="ui icon negative hidden message">
    <i class="times icon"></i>
    <div class="content">
        <div class="header">
            Error
        </div>
        <p>
            The passwords dont match
        </p>
    </div>
</div>
<div id="addUserModal" class="ui modal">
    <i class="close icon"></i>
    <div id="userDynamicHeader" class="header icon">
        <i class="users icon"></i>
        Add User
    </div>
    <div class="content">
        <form id="add_user" name="add_user" class="ui form">
            <h4 class="ui dividing header">User Information</h4>
            <div class="sixteen wide field">
                <label>Name *</label>
                <div class="field">
                    <input type="text" name="name" placeholder="Name" required>
                </div>
            </div>
            <div class="two fields">
                <div class="eight wide field">
                    <label>Username *</label>
                    <div class="field">
                        <input type="text" name="user_name" placeholder="Username" required>
                    </div>
                </div>
                <div class="eight wide field">
                    <label>Password *</label>
                    <div class="field">
                        <input type="password" name="user_password" placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="eight wide field">
                    <label>Confirm Password *</label>
                    <div class="field">
                        <input type="password" name="conf_password" placeholder="Confirm Password" required>
                    </div>
                </div>
                <div class="eight wide field">
                    <label>Group *</label>
                    <div class="field">
                        <input type="text" name="user_group" placeholder="Group" required>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <button onclick="addUser()" class="ui green right labeled icon button">
            Save
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>