<div id="editUserModal" class="ui modal">
    <i class="close icon"></i>
    <div id="userDynamicHeader" class="header icon">
        <i class="users icon"></i>
        Edit User
    </div>
    <div class="content">
        <form id="edit_user" name="edit_user" class="ui form">
            <h4 class="ui dividing header">User Information</h4>
            <input type="hidden" name="Dynamic-id" required>
            <div class="sixteen wide field">
                <label>Name *</label>
                <div class="field">
                    <input type="text" name="Dynamic-name_user" placeholder="Username" required>
                </div>
            </div>
            <div class="two fields">
                <div class="eight wide field">
                    <label>Username *</label>
                    <div class="field">
                        <input type="text" name="Dynamic-user_name" placeholder="Username" required>
                    </div>
                </div>
                <div class="eight wide field">
                    <label>Password *</label>
                    <div class="field">
                        <input type="password" name="Dynamic-user_password" placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="eight wide field">
                    <label>Group *</label>
                    <div class="field">
                        <input type="text" name="Dynamic-user_group" placeholder="Group" required>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <button onclick="editUser()" class="ui green right labeled icon button">
            Save
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>