<div id="menubar" class="ui vertical icon menu">
    <a href="/home" class="item" data-inverted="" data-tooltip="List devices" data-position="right center" data-variation="basic">
      <i class="large list alternate outline icon">
      </i>
    </a>
</div>