<div id="menubar" class="ui vertical inverted icon menu">
  <div data-inverted="" data-tooltip="List devices" data-position="right center" data-variation="basic">
    <a href="/home" class="item">
      <i class="large list alternate outline icon">
      </i>
    </a>
  </div>
  <div data-inverted="" data-tooltip="Device groups" data-position="right center" data-variation="basic">
    <a href="/home" class="item">
      <i class="large th icon">
      </i>
    </a>
  </div>
  <div data-inverted="" data-tooltip="Manage users" data-position="right center" data-variation="basic">
    <a href="/manage_users" class="item">
      <i class="large users icon">
      </i>
    </a>
  </div>
  <div onclick="logout()" id="logoutButton" data-inverted="" data-tooltip="Logout" data-position="right center" data-variation="basic">
    <a class="item">
      <i class="large sign-out icon">
      </i>
    </a>
  </div>
</div>