<div id="menubar" class="ui vertical inverted icon menu">
  <div data-inverted="" data-tooltip="List devices" data-position="right center" data-variation="basic">
    <a href="/home" class="item">
      <i class="large list alternate outline icon">
      </i>
    </a>
  </div>
  <div id="adminButtons">

  </div>
    <div onclick="changePassModal()" onload="checkAuthType()" id="changePassButton" data-inverted="" data-tooltip="Change Password"
      data-position="right center" data-variation="basic">
      <a class="item">
        <i class="large key icon">
        </i>
      </a>
    </div>
  <div onclick="logout()" id="logoutButton" data-inverted="" data-tooltip="Logout" data-position="right center"
    data-variation="basic">
    <a class="item">
      <i class="large sign-out icon">
      </i>
    </a>
  </div>
</div>
<script>
    checkRole();
</script>
<% include changepassmodal %>