<div class="user_message ui horizontal list">
    <div class="item">
        <img class="ui mini circular image" src="https://cdn2.iconfinder.com/data/icons/vivid/48/user-512.png">
        <div id="user_message" class="content">
            
        </div>
    </div>
</div>